Source: python-raven
Section: python
Priority: optional
Maintainer: Vincent Bernat <bernat@debian.org>
Uploaders: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends: debhelper (>= 9), dh-python,
               python-all,
               python-setuptools,
               python-contextlib2
Standards-Version: 3.9.8
Homepage: https://github.com/getsentry/raven-python
Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/raven.git
Vcs-Browser: https://anonscm.debian.org/git/python-modules/packages/raven.git

Package: python-raven
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
Recommends: ${python:Recommends}
Suggests: ${python:Suggests}
Description: client for Sentry - Python 2.X
 Raven is a Python client for Sentry. It provides full out-of-the-box
 support for many of the popular frameworks, including Django, and
 Flask. Raven also includes drop-in support for any WSGI-compatible web
 application.
 .
 This package contains the module for Python 2.
